{% extends 'base.html.twig' %}

{% block title %}Nos voitures d'occasion à la vente{% endblock %}

{% block body %}
 <div class="container p-4 text-bg-success text-primary">
      <h1 class="h3 text-center">Vous trouvrez ci dessous une sélection des véhicules d'occasion que nous avons restaurés afin de vous proposer des véhicules de qualité à moindre coût</h1>
      <div class="card m-4" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card m-4" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>

{% endblock %}
