{% extends 'base.html.twig' %}

{% block title %}Nos services de réparartion et de maintenance{% endblock %}

{% block body %}
            <div class="container text-align p-4 text-bg-success text-primary">
                <div class="row p-4">
                    <div class="col-sm-9">
                        <h1 class="h4 text-primary"> Service de réparation et de dépannage</h1>
                        <p>Le garage fondé en 2021 au coeur de la ville de Toulouse par Monsieur Vincent PARROT, compte aujourd'hui une dizaine de salariés. 
                            Malgré un garage de plus en plus important pour répondre au mieux à vos attente 
                            nous avons à coeur de péréniser les valeurs qui nous caractérisaient des l'ouverture de notre garage. </p>
                    </div>
                    <div class="col-sm-3">
                       <img class="img-fluid" src="../code/imageGarage.jpg">
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-sm-3">
                        <img class="img-fluid" src="../code/MOT-history-how-to-check-1274148.jpg">
                    </div>
                    <div class="col-sm-9">
                        <h2 class="h4 p-2 text-primary">Contrôle technique</h2>
                        <p >Le garage fondé en 2021 au coeur de la ville de Toulouse par Monsieur Vincent PARROT, compte aujourd'hui une dizaine de salariés. 
                            Malgré un garage de plus en plus important pour répondre au mieux à vos attente 
                            nous avons à coeur de péréniser les valeurs qui nous caractérisaient des l'ouverture de notre garage. </p>
                    </div>
                </div>
                <div class="row p-4">
                    <div class="col-sm-9">
                    <h2 class="h4 p-2 text-primary">Entretien courant de votre véhicule</h2>
                        <p>Au sein du garage Vincent PARROT nous attachons une importance primordiale à la parfaite compréhension par nos client des
                        réparations effectuées et des tarifs appliqués. Ainsi notre équipe vous explique les réparations et améliorations necessaires qui nous semblent necessaires au 
                        bon fonctionnement de votre véhicule.
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-fluid" src="../code/imageGarage3.jpg">
                    </div>
                  </div>
        </div>

             
{% endblock %}
