{% extends 'base.html.twig' %}

{% block title %}Nos horaires{% endblock %}

{% block body %}
     <div class="container p-4 text-bg-success text-primary">
        <h1>Nos horaires d'ouverture</h1>
        <p> Nous sommes ouverts du lundi au samedi</p>
    
    </div>   
{% endblock %}
