{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}
    {% block stylesheet %}

    {% endblock %}
    {% block body %}
        <main>
        <div class="container p-4 text-bg-success text-primary">
            <div class="home-cover text-primary mt-5"> 
        <!--Cette section correspond à la première partie de la page d'accueil visant à présenter le garage en une seule phrase-->
                <p class=" h2 home-cover_intro text-center"> 
                "Notre souhait vous accompagner dans l'entretien de votre véhicule tout au long de sa vie en toute confiance et transparence"
                </p>
            </div>
            
            
            
            
            <section class="row p-4">
                <div class="col-sm-8">
                    <h2 class="h3 p-2 text-primary">Nos valeurs</h2>
                    <ul>
                        <li class="badge rounded-pill p-2 text-secondary bg-warning border-radius">Compétence</li>
                            <p class="values_paragraphe1">Fort d'une expérience de prés de 15 ans au sein de garages renommés, Monsieur Vincent PARROT dirige une équipe de plusieurs 
                        techniciens ayant tous fait leurs preuves dans le domaine de la réparation automobile</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Voir nos services de réparation et de maintenance</a>
                            <br>
                            <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Voir nos voitures d'occasion à la vente</a>
                        </div>
                                
                        <li class="badge rounded-pill p-2 text-secondary bg-warning mt-4">Confiance et Transparance</li>
                            <p class="values_paragraphe2">Au sein du garage Vincent PARROT nous attachons une importance primordiale à la parfaite compréhension par nos client des
                            réparations effectuées et des tarifs appliqués. Ainsi notre équipe vous explique les réparations et améliorations necessaires qui nous semblent necessaires au 
                            bon fonctionnement de votre véhicule.
                            </p>
                        <li class="badge rounded-pill h5 p-2 text-secondary bg-warning mt-4">Disponibilité</li>
                            <p class="values_paragraphe3">La disponibilité des salariés de notre garage va de paire avec la relation de confiance que nous souhaitons établir avec nos clients
                            C'est pourquoi lors de notre rendez-vous nous nous rendrons le plus disponible possible pour vous expliquer les tenants et les 
                            aboutissants des réparations envisagées.Si jamais vous avez oublié de nous poser une question n'hésitez pas à utiliser notre formulaire de contact, nous vous répondrons dans les meilleurs délais.
                            </p>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Nous contacter</a>
                                <br>
                                <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Nous laisser un commentaire</a>
                            </div>
                        <li class="badge rounded-pill p-2 text-secondary bg-warning mt-4">Réactivité</li>
                            <p class="values_paragraphe4">Enfin et toujours dans le but de vous offrir la meilleur qualité de service, nous faisons tout notre possible pour répondre à vos attentes dans les
                            meilleurs délais. Nous nous engageons à vous rendre votre véhicule dans les délais annoncés lors du premier rendez-vous.
                            </p>
                    </ul>
                </div>
                <div class="col-sm-4">
                        <img class="img-fluid" src="../null/code/MOT-history-how-to-check-1274148.jpg">
                </div>
            </section>
            <section class="row p-4">
                <div class="col-sm-3">
                    <img class="img-fluid" src="../null/code/MOT-history-how-to-check-1274148.jpg">
                     
                </div>
                <div class="col-sm-9">
                    <h1 class="text-primary h2"> Notre histoire</h1>
                    <p class="story_paragraphe">Le garage fondé en 2021 au coeur de la ville de Toulouse par Monsieur Vincent PARROT, compte aujourd'hui une dizaine de salariés. 
                    Malgré un garage de plus en plus important pour répondre au mieux à vos attente 
                    nous avons à coeur de péréniser les valeurs qui nous caractérisaient des l'ouverture de notre garage. </p>
                </div>
                
            </section>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>

    {% endblock %}
  